a { background-color: #DDA0DD; }
t1z { background-color: #FF4500; }
t2z { background-color: #DA70D6; }
t3z { background-color: #EEE8AA; }
t4z { background-color: #98FB98; }
t5z { background-color: #AFEEEE; }
t6z { background-color: #4B0082; }
xz { background-color: #7CFC00; }
