faks { background-color: #DC143C; }
fussnote { background-color: #00BFFF; }
kommentar { background-color: #7CFC00; }
poesie { background-color: #FFE4B5; }
seitenwechsel { background-color: #9ACD32; }
ueberschrift { background-color: #FFFF00; }
unleserlich { background-color: #FFA500; }
